* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .dektopTop {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  z-index: -99999;
}
.container .desktopBottom {
  z-index: -99999;
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
}
.container .content {
  z-index: 99999;
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container .content .firstRow {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.container .content .firstRow .ourMessage {
  width: 540px;
  color: hsl(300, 43%, 22%);
  text-align: left;
}
.container .content .firstRow .ourMessage .title {
  font-size: 55px;
  font-weight: 800;
}
.container .content .firstRow .ourMessage .details {
  font-size: 18px;
  line-height: 35px;
  font-weight: 600;
}
.container .content .firstRow .ratings {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.container .content .firstRow .ratings .ratingItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7ecf3;
  width: 85%;
  height: 70px;
  border-radius: 10px;
  margin-top: 15px;
}
.container .content .firstRow .ratings .ratingItems .stars img {
  width: 18px;
}
.container .content .firstRow .ratings .ratingItems .ratingTitle {
  color: hsl(300, 43%, 22%);
  font-weight: 800;
}
.container .content .firstRow .ratings .review {
  align-self: flex-start;
}
.container .content .firstRow .ratings .guru {
  align-self: center;
}
.container .content .firstRow .ratings .bestTech {
  align-self: flex-end;
}
.container .content .secondRow {
  width: 100%;
  height: 50%;
}
.container .content .secondRow .profiles {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.container .content .secondRow .profiles :nth-child(1) {
  align-self: flex-start;
}
.container .content .secondRow .profiles :nth-child(2) {
  align-self: center;
}
.container .content .secondRow .profiles :nth-child(3) {
  align-self: flex-end;
}
.container .content .secondRow .profiles .profile {
  padding: 30px;
  border-radius: 11px;
  width: 380px;
  height: 270px;
  background-color: hsl(300, 43%, 22%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .content .secondRow .profiles .profile .personInfo {
  width: 100%;
  height: 60px;
  display: flex;
}
.container .content .secondRow .profiles .profile .personInfo .personPicture {
  align-self: center;
  width: 50px;
}
.container .content .secondRow .profiles .profile .personInfo .personPicture img {
  width: 45px;
  border-radius: 50%;
}
.container .content .secondRow .profiles .profile .personInfo .personTitles {
  margin-left: 20px;
}
.container .content .secondRow .profiles .profile .personInfo .personTitles .personName {
  color: white;
  font-weight: 800;
}
.container .content .secondRow .profiles .profile .personInfo .personTitles .personTitle {
  color: hsl(333, 80%, 67%);
  margin-top: 3px;
  font-weight: 400;
}
.container .content .secondRow .profiles .profile .personMessage {
  color: white;
  font-weight: 400;
  line-height: 25px;
}/*# sourceMappingURL=style.css.map */