@media screen and (max-width: 576px) {
  .container {
    > .content {
      width: 100%;
      padding: 10px;
      .firstRow {
        > .ourMessage {
          > .title {
            font-size: 38px;
          }
          > .details {
            margin: 10px;
            font-size: 15px;
          }
        }

        > .ratings {
          width: 100%;
          > .ratingItem {
            width: 95%;
            > .stars img {
              width: 14px;
            }
          }
          > .ratingTitle {
            font-size: 14px;
          }
        }
      }
    }
  }
}
